<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Baisikeli(swahili for bicycle)</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baisikeli.css') }}">
  </head>
  <body>

  <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      <a href="#" class="navbar-brand">Baisikeli</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active"><a href="#home" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#rides" class="nav-link">Rides</a></li>
          </ul>
      </div>
    </div><!-- end container -->
  </div><!-- End Navbar -->

  <div class="container">
    Landing page

    <footer class="copyright">Copyright &copy; 2018 </footer>
  </div><!-- container class -->

  </body>
</html>
