<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>.::.Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baisikeli.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

  <nav>
    <div class="container">
    <div class="nav-wrapper deep-orange darken-3">
      <a href="#" class="brand-logo large"><i class="large material-icons">directions_bike</i>Baisikeli</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Rides</a></li>
      </ul>
    </div>
  </div><!-- end container -->
  </nav>

  <!-- Banner image -->
  <section>
  </section>

  <!-- Main container -->
  <section class="ride-stats" id="stats">
    <div class="container">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <span class="card-title">Distance</span>
            <div class="card-content">
              Distance ridden this month
            </div><!-- card content -->
          </div>
        </div><!-- end column -->

        <div class="col s12 m4">
          <div class="card">
            <span class="card-title">Speed</span>
            <div class="card-content">
              Average speed through the month
            </div><!-- card content -->
          </div>
        </div><!-- end column -->

        <div class="col s12 m4">
          <div class="card">
            <span class="card-title">Elevation</span>
            <div class="card-content">
              Cumulative elevation in a month
            </div><!-- card content -->
          </div>
        </div><!-- end column -->

      </div>
    </div>
  </section>

<section class="group-rides" id="rides">
  <div class="container">
    <div class="row">
      <div class="col s8 m5">
        <div class="z-depth-3">

          <ul class="collection with-header">
            <li class="collection-header"><h5 class="red-text text-lighten-2">Chain Reaction San Antonio</h5></li>
            <li class="collection-item avatar">
              <i class="material-icons circle blue white-text">map</i>
              <span class="title">Ride name</span>
              <p>Brief about ride if any</p>
            </li>
            <li class="collection-item avatar">
              <i class="material-icons circle blue white-text">map</i>
              <span class="title">Ride name</span>
              <p>Brief about ride if any</p>
            </li>
          </ul>

        </div>
      </div><!-- ride column -->
    </div><!-- end row -->
  </div><!-- end container -->
</section>

  <!-- Footer -->
  <footer class="page-footer blue-grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col s5 left">
          <span class="blue-text text-darken-4">Gone cycling</span>
        </div>
      </div>

    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
