<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Baisikeli::Login</title>
    <link rel="stylesheet" href="../static/css/master.css">
  </head>
  <body>

<div class="content">

  <div class="login-box">
    <img class="avatar" src="../static/img/login-icon.png" />
    <h1>Login Here</h1>
    <form class="login-form" action="/auth/login" method="post">
      <input type="text" name="username" value="" placeholder="Username">
      <input type="password" name="password" value="" placeholder="password">
      <input type="submit" name="login" value="Login">
      <a href="#">Forgot yout password?</a><br />
      <a href="#">Don't have an account?</a>
    </form>

  </div>

</div>
  </body>
</html>
