<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>.::. Create User</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/baisikeli.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>

  <nav>
    <div class="container">
    <div class="nav-wrapper deep-orange darken-3">
      <a href="#" class="brand-logo large"><i class="large material-icons">directions_bike</i>Baisikeli</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">Rides</a></li>
      </ul>
    </div>
  </div><!-- end container -->
  </nav>

  <!-- Main container -->
  <section class="signup">

    <div class="container">

      <form  method="post" action="/auth/signup" id="user-signup" method="post">
        <div class="row">

          <div class="input-field col s6">
            <input type="text" name="firstname" id="firstname" placeholder="John">
            <label for="firstname">First Name</label>
          </div>

          <div class="input-field col s6">
            <input type="text" name="lastname" id="lastname" placeholder="Doe">
            <label for="lastname">Last name</label>
          </div>
        </div><!-- row -->

        <div class="row">
          <div class="input-field col s6">
            <input type="text" name="email" value="" placeholder="user@domain.com">
            <label for="email">E-mail</label>
          </div>

          <div class="input-field col s6">
            <input type="text" name="email_confirm" value="" placeholder="user@domain.com">
            <label for="email_confirm"> Confirm E-mail</label>
          </div>
        </div><!-- row -->

          <div class="row">
            <div class="input-field col s6">
              <input type="password" name="password" placeholder="**************">
              <label for="password1">Password</label>
            </div>

            <div class="input-field col s6">
              <input type="password" name="password_confirm" placeholder="**************">
              <label for="password2">Confirm password</label>
            </div>
          </div><!-- row -->

          <div class="row"><!-- warning -->
            <div class="col s12">
              {% if error is not none %}
                {{ error }}
              {% endif %}
            </div>
          </div>

          <div class="row">
            <div class="input-fields col s12">
              <input type="submit" value="Create user" class="btn blue wave-effect waves-light">
              <input type="button" value="Cancel" class="btn blue-grey lighten-1">
            </div>
          </div>

        </div><!-- container -->
      </form>

    </div>
  </section>


  <!-- Footer -->
  <footer class="page-footer blue-grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col s5 left">
          <span class="blue-text text-darken-4">Gone cycling</span>
        </div>
      </div>

    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
