html, body {
  padding: 0;
  margin: 0;
}

div.content div.login-box {
  width: 320px;
  height: 420px;
  top: 50%;
  left: 50%;
  position: absolute;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  padding: 90px 30px;
}

div.login-box img.avatar {
  width: 160px;
  height: 160px;
  top: -80px;
  left: calc(50% - 80px);
  position: absolute;
  border-radius: 50%;
}

form.login-form input {
  width: 100%;
  margin-bottom: 20px;
}

form.login-form input[type="text"], input[type="password"] {
  margin-top: 20px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  height: 32px;
}

form.login-form input[type="submit"] {
  border: none;
  outline: none;
  height: 32px;
  font-size: 16px;
  border-radius: 20px;
  background: #e03f3f;
  color: black;
  font-weight: bold;
}

form.login-form input[type="submit"]:hover {
  background: #4eb7f5;
  cursor: pointer;
}

form.login-form a {
  width: 100%;
  margin-bottom: 50px;
  text-decoration: none;
  line-height: 20px;
  color: darkgrey;
}

form.login-form a:hover {
  color: #ffc107;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
